*,*::before, *::after {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}

.video-section{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap:3rem 1rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    /* border: 4px solid #ccc; */
}

.video-section:first-child{
    border: none;
}

.video-container{
    display: flex;
    flex-direction: column;
}

.thumbnail {
    position: relative;
    display: flex;
}
.thumbnail::before{
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0, 0, 0, .85);
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    border-radius: .3rem;
    font-size: .9rem;
}
.thumbnail-image{
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #aaa;
}

.video-bottom-section {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.channel-icon{
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #aaa;
}

.video-details{
    display: flex;
    flex-direction: column;
}

.video-title{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: .5rem;
    text-decoration: none;
    color: black;
}
.video-channel-name{
    margin-bottom: .1rem;
    text-decoration: none;
    color: #555;
    transition: color 150ms;
}
.video-channel-name:hover{
    color: #111;
}
.video-channel-name, .video-metadata{
    color: #777;
}

.video-section-title {
    grid-column: 1 / -1;
    margin: -.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}
.video-section-title-close{
    border: none;
    background: none;
    padding: 0;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
}
.videos{
    background-color: #f9f9f9;
}

.categories{
    padding: 1rem 2rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.category-section{
    display: flex;
    overflow: hidden;
}

.category{
    margin-right: 1rem;
    word-wrap: none;
    border: 1px solid #ccc;
    white-space: nowrap;
    border-radius: 900px;
    background-color: #e7e7e7;
    padding: .5rem 1rem;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 150ms;
}

.category:hover{
    background-color: #ddd;
}
.category.active{
    background-color: #606060;
    color: white;
    border-color: #eee;
}

.category:last-child{
    margin-right: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.youtube-logo{
    height: 70px;

}

.search-bar{
    flex-grow: 1;
    display: flex;
    margin: 0 2rem 0 4rem;
}

.search-input{
    width: 100%;
    font-size: inherit;
    padding: .4em;
    border: 1px solid  #777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-btn{
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    /* border: 1px solid #777; */
    background-color: #f8f8f8;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.search-btn:hover{
    background-color: #f0f0f0;
}

.menu-icons{
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 1.5rem;
}
.morebtn{
    border: none;
    background: none;
    font-size: 22px;
    color: #777;
}

.menu-channel-icon{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
}
.footer{
    display: flex;
    text-align: center;
    justify-content: center;
    font-style: bold;
    background-color: rgb(235, 235, 235);
}

/* Side Navigation bar */


.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: rgb(41, 40, 40); */
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.6s;
    padding-top: 60px;
}

.sidenav a{
    width: 96%;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
}

.sidemenus:hover{
    color: #f1f1f1;
    background-color: lightgray;
}
.sidenav:first-child:hover{
    background-color: none;
}


.navitem{
    display: flex;
    position: absolute;
    justify-content:center;
    top: 10px;
    align-items: center;
}
.navytlogo{
    height: 55px;
    position: absolute;
    align-items: center;
    right: -130px;
}

.nava{
    width: 100%;
    align-items: center;
    text-align: center;

}

/* @media screen and (min-width:550px) {
    .video-container{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .thumbnail{
        width: 100%;
    }
    .video-bottom-section{
        width: 100%;
    }
    .video-details{
        width: 100%;
        text-align: center;
        align-items:center;
    }
    .channel-icon{
        align-items: center;
        text-align: center;
        justify-content: center;
    }

} */


@media screen and (max-height:450px) {
    .sidenav{
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/* Splash Screen */
.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 5;
    color: white;
    text-align: center;
    line-height: 90vh;
}

@keyframes fadein {
    to{
        opacity: 1;
    }
}
.fade-in{
    opacity: 0;
    animation: fadein 1s ease-in forwards; 
}